nav.navbar 
    ul.navbar-nav
        li.logo
            a.nav-link(href="../" id="streamingbtn")
                span.link-text Streaming
                img(src="icons/next.svg", alt="", srcset="")
        li.nav-item
            a.nav-link(href="../" id="homeBtn")
                img(src="icons/home.svg")
                span.link-text home
        