<!DOCTYPE html>
html(lang="pt")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Streaming Local
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/nav.css")
        link(rel="stylesheet", href="css/video.css")
        link(rel="stylesheet", href="css/responsive.css")
        link(rel="shortcut icon", href="icons/flavIcon.svg", type="image/x-icon")
    body(type="body")
        include includes/nav.pug
        .contentVideo(type="body")
            h1.title(type="body") #{title}
                .videoFrame(type="body")
                    video(data-setup="pt-br"  id="video" controls autoplay loop)
                        source(src='/watch/?search='+search type='video/mp4')
                        track(kind="subtitles" srclang="pt-br" label="PT-BR" src='/subtitles/?search='+search)
                        
        script(src="js/jquery.js")
        script(src="js/video.js")