.contentVideo{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    flex-direction: column;
}
h1{
    padding-top: 10%;
    text-align: center;
}
.contentVideo video {
    margin-top: 10px;
    width: 60vw;
}